@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css?family=Maven+Pro&display=swap');
@import url('https://fonts.googleapis.com/css?family=Ubuntu&display=swap');

body {
  margin: 0;
  font-family: 'Lato', sans-serif;
}

/* The side navigation menu */
.sidebar {
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: #f1f1f1;
  position: fixed;
  height: 100%;
  overflow: auto;
}

/* Sidebar links */
.sidebar a {
  display: block;
  color: black;
  padding: 16px;
  text-decoration: none;
}

/* Active/current link */
.sidebar a.active {
  background-color: #4caf50;
  color: white;
}

/* Links on mouse-over */
.sidebar a:hover:not(.active) {
  background-color: #555;
  color: white;
}

/* Page content. The value of the margin-left property should match the value of the sidebar's width property */
div.content {
  margin-left: 200px;
  padding: 1px 16px;
  height: 1000px;
}

.content header {
  font-family: 'Maven Pro', sans-serif;
  background-color: #a8e6cf;
  font-size: 70%;
  padding: 1.5em;
}

.content main #subtitle {
  padding: 1em;
  background-color: #ffd3b6;
  font-size: 120%;
}

.content main #games {
  display: flex;
  justify-content: center; /* items are centered along the line */
  flex-direction: row; /* row direction of the flexible items */
  flex-wrap: wrap; /* the item has wrap. It makes item wrap in multiple lines */
  background-color: #dcedc1;
  padding: 1em;
}

.content main #games div {
  padding: 2em;
  width: 400px;
  font-family: 'Ubuntu', sans-serif;
  line-height: 150%;
}

.content main #games div img  {
  max-width: 100%;
  height: auto;
}

.content main #contactus {
  background-color: #dcedc1;
  padding: 1em;
}

.content footer {
  font-family: 'Maven Pro', sans-serif;
  background-color: #ffaaa5;
  padding: 1em;
}

/*****************************************************************************************
 On screens that are less than 960px wide, make the sidebar into a topbar
 *****************************************************************************************/
@media screen and (max-width: 960px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }

  .sidebar a {
    float: left;
  }

  div.content {
    margin-left: 0;
  }
}

/*****************************************************************************************
 On screens that are less than 400px, display the bar vertically, instead of horizontally
 ******************************************************************************************/
@media screen and (max-width: 400px) {
  .sidebar a {
    text-align: center;
    float: none;
  }

  .content main #games {
    display: flex;
    justify-content: center; /* items are centered along the line */
    flex-direction: column; /* row direction of the flexible items */
    flex-wrap: wrap; /* the item has wrap. It makes item wrap in multiple lines */
    background-color: #dcedc1;
    padding: 0.1em;
  }

  .content main #games div {
    width: 100%; /* */
    padding: 0.1em;
    font-family: 'Ubuntu', sans-serif;
    line-height: 150%;
  }

  .content main #games div img  {
    max-width: 100%;
    height: auto;
  }
}
